@charset "UTF-8";

body {
  background-image: url("../imagem/fundo-de-brilho-embacado-bokeh-colorido_23-2148486021.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  font-family: "Courier New", Courier, monospace;
}
* {
  margin: 0;
  padding: 0;
}
h1 {
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

main {
  background-color: rgba(0, 0, 0, 0.642);
  height: 400px;
  width: 300px;
  padding: 5px;
  border-radius: 20px;
  text-align: center;
  display: block;
  margin: auto;
  position: relative;
  top: 25%;
}

label{
    display: none;
}

#resposta {
  color: white;
  margin-top: 10px;
  text-align: center;
  transition: 1s;
  margin-top: 20px;
  margin-right: 20px;
}

input {
  height: 25px;
  background-color: darkgray;
  display: block;
  margin: 20px;
  width: 260px;
  color: rgb(0, 0, 0);
  padding: 5px;
} 

#inumber1{
    margin-right: 120px;
}

button {
  padding: 0.8em 1.8em;
  border: 2px solid #17c3b2;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #17c3b2;
}

button::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #17c3b2;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

button:hover::before {
  width: 105%;
}

button:hover {
  color: #111;
}

button {
  margin-top: 20px;
  height: 50px;
}
