@charset "UTF-8";

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(35, 167, 167);
}

h1{
    text-align: center;
    color: white;
}

section{
    background-color: white;
    padding: 10px;
    width: 450px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.511);
}
div{
    text-align: center;
    padding: 5px;
}
#foto{
    border-radius: 40%;
    margin: auto;
    display: block;
}

footer{
    font-style: italic;
    text-align: center;
}